/* Everforest Dark Color Pallete */

@define-color black #100F0F;
@define-color red #D14D41;
@define-color green #879A39;
@define-color yellow #D0A215;
@define-color blue #4385BE;
@define-color magenta #CE5D97;
@define-color cyan #3AA99F;
@define-color white #FFFCF0;
@define-color bright-black #414B50;
@define-color bright-red #E67E80;
@define-color bright-green #A7C080;
@define-color bright-yellow #DBBC7F;
@define-color bright-blue #7FBBB3;
@define-color bright-magenta #D699B6;
@define-color bright-cyan #83C092;
@define-color bright-white #D3C6AA;
@define-color text-white #CECDC3;
@define-color bg-3 #1c1b1a;
@define-color tx-2 #878580;

/* Misc Colors */
@define-color empty rgba(0,0,0,0);


/* Define for each module */
@define-color bg @black;
@define-color fg @text-white;
@define-color workspaces-focused @bg-3;
@define-color mode @cyan;
@define-color mode-fg @bg;
@define-color workspaces-focused-fg @fg;
@define-color pulseaudio @blue;
@define-color network @bright-green;
@define-color cpu @cyan;
@define-color memory @yellow;
@define-color backlight @yellow;
@define-color battery @red;
@define-color clock @bright-blue;
@define-color tray @empty;



* {
    font-family: "M+1Code Nerd Font Med";
    font-size: 14px;
}

window#waybar {
    background-color: @bg;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    padding: 0 4px;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button {
    padding: 0 4px;
    margin: 4 1px;
    background-color: transparent;
    color: @fg;
    border-radius: 4px;
}


#workspaces button:hover {
    background: alpha(@bg, 0.5);
}

#workspaces button.active {
    background-color: @workspaces-focused;
    color: @workspaces-focused-fg;
}

#workspaces button.urgent {
    background-color: @bright-red;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @fg;
    border-radius: 0px;
    border-bottom: 2px solid transparent;
    background-color: transparent;
}


#mode {
    background-color: @mode;
    color: @mode-fg;
    box-shadow: none;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-bottom-color: @clock;
    color: @fg;
}

#battery {
    border-bottom-color: @battery;
    color: @fg;
}

#battery.charging, #battery.plugged {
    border-bottom-color: @battery;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    border-bottom-color: @cpu;
    color: @fg;
}


#memory {
    border-bottom-color: @memory;
    color: @fg;
}


#backlight {
    border-bottom-color: @backlight;
    color: @fg;
}


#network {
    border-bottom-color: @network;
    color: @fg;
}


#network.disconnected {
    border-bottom-color: @red;
}

#pulseaudio {
    border-bottom-color: @pulseaudio;
    color: @fg;
}

#pulseaudio.muted {
    color: @red;
    border-bottom-color: @red;
}


#tray {
    background-color: @tray;
    color: @bg;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}
